@charset "UTF-8";
@font-face {
  font-family: 'SignPainter';
  /* Имя шрифта */
  src: url(../fonts/SignPainter.otf);
  /* Путь к файлу со шрифтом */ }
  
  
@font-face {
  font-family: 'Cat';
  /* Имя шрифта */
  src: url(../fonts/cheshirskiy_cat.ttf);
  /* Путь к файлу со шрифтом */ }
html {
  height: 100%; }

body.authorized {
  background-image: url(../img/bg.jpg);
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #bec3c7;
  height: 100%;
  font-family: 'Helvetica'; }
body.login {
	background-image: url(../img/login-bg2.jpg);
  	background-size: 100% auto ;
  	padding-top: 100px;
}
body.login .modal-content {
	background-color: rgba(255,255,255,0.5);
}
body.login  #content {
	background-color: transparent;
}

body.login .modal-dialog {
	width: 600px;
}
body.login #nav {
	display: none;
}
h1, h2, h3, h4, h5, h6, .sp {
  font-family: 'SignPainter'; }

p.sp {
  font-size: 20px;
  font-weight: 200;
  color: #808080; }

.helv {
  font-family: 'Helvetica'; }

div .container {
	margin-left: -15px;
}

#content {
  background-color: #ecf0f1;
  padding-top: 30px;
  min-height: 100%;
  padding-bottom: 30px; }
  #content #nav {
    height: 60px;
    position: relative;
    background: #8e44ad; }
    #content #nav:before, #content #nav:after {
      display: block;
      position: absolute;
      width: 68px;
      height: 83px;
      background-size: auto 100%; }
    #content #nav:before {
      background-image: url(../img/left-nav.png);
      left: -68px; }
    #content #nav:after {
      background-image: url(../img/right-nav.png);
      right: -68px; }
    #content #nav nav, #content #nav .user-link {
      margin: 0px auto;
      float: left; }
      #content #nav nav li a, #content #nav .user-link li a {
        display: block;
    padding: 0px 23px;
    color: #fff;
    height: 60px;
    font-weight: 200;
    font-family: 'Cat';
    line-height: 60px;
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none; }
        #content #nav nav li a:hover, #content #nav .user-link li a:hover {
          background-color: #522764; }
    #content #nav .user-link {
      float: right; }

#copyright {
	background-color: #ecf0f1;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#main {
  margin: 10px 0px 0px; }
  #main .question div div h3 {
			font-size: 34px; }
	.letter {
  	padding: 5px;
	width: 55px;
	height: 55px; }
	.letter .input-letter{
		border: 2px solid #8e44ad;
		width: 45px;
		height: 45px;
		border-radius: 5px;
		padding: 2px; 
		color: #8e44ad;
		font-family: 'Helvetica';
		font-size: 20px;
		margin-top: 0px;
		float: left;}
	.letter .btn-success{
		font-size: 20px; }

.subject {
  margin: 0px auto 40px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden; }
  .subject:hover {
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.15); }
  .subject .row {
    padding: 10px;
    border-top: 2px solid #f1c40f; }
	.subject .img-star {
	  width: 20px; }
    .subject div h3 {
      margin: 0px;
      text-align: left; }
      .subject div h3 a {
        color: #000; }
        .subject div h3 a:hover {
          text-decoration: none; }

.dostizh, .dictionary, .profile {
  margin-top: 50px; }
  .dostizh span, .dictionary span, .profile span {
    color: #8e44ad; }

.dictionary thead th {
  background: #8e44ad;
  color: #fff; }
.dictionary tbody tr:nth-child(odd) {
  background: #fff; }
@media (max-width: 1024px) {
	#content #nav nav li a, #content #nav .user-link li a {
		font-size: 14px;
	    padding: 0px 12px;}
}
@media (min-width: 1920px) {
  body {
    background-size: auto auto; } }
.img-centre {
  display: block;
  margin: 0px auto; }

.diolog-block {
  background: url("../img/speech.png") no-repeat;
  height: 300px; }

#prem {
  margin-top: 30px; }
  #prem img {
    width: 100px; }

.classes {
  margin-bottom: 30px; }
  .classes li {
    padding: 0px 10px; }
    .classes li a {
      font-size: 20px;
      color: #656565; }
      .classes li a.active, .classes li a:hover, .classes li a:focus {
        color: #8e44ad;
        text-decoration: none;
        border-bottom: 2px dashed #8e44ad; } 

.question {
  width: 90%;
  padding: 20px 40px 40px;
  background: white;
  margin: 0px auto; }
  .question input {
    margin-top: 100px;
    border: 2px solid #8e44ad;
    padding: 25px 20px; }

.progress-holder {
  width: 100%;
  margin: 0px auto;
  margin-top: 20px;
  background: #8e44ad;
  padding: 10px;
  border-radius: 5px; }
  .progress-holder .progress {
    width: calc(100% - 70px);
    float: right;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: #522764; }
    .progress-holder .progress .progress-bar {
      background-color: #f1c40f; }
  .progress-holder .percent {
    float: left;
    width: 50px;
    margin-right: 20px;
    padding: 5px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background: #522764; }

.clear {
  clear: both; }

.yellow {
  color: #f1c40f; }

.trener .subject {
  padding: 30px; }
  .trener .subject h3 {
    text-align: center; }
  .trener .subject p {
    color: #b1b1b1; }
  .trener .subject a {
    color: #000; }
    .trener .subject a:hover {
      text-decoration: none; }

.btn-answer {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: #76869f;
  background: -moz-linear-gradient(top, #76869f 0%, #2f4153 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #76869f), color-stop(100%, #2f4153));
  background: -webkit-linear-gradient(top, #76869f 0%, #2f4153 100%);
  background: -o-linear-gradient(top, #76869f 0%, #2f4153 100%);
  background: -ms-linear-gradient(top, #76869f 0%, #2f4153 100%);
  background: linear-gradient(to bottom, #76869f 0%, #2f4153 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76869f', endColorstr='#2f4153', GradientType=0 );
  border: 5px solid #bec3c7; }
  .btn-answer:hover, .btn-answer:focus {
    color: #fff;
    background: #f1c40f;
    background: -moz-linear-gradient(top, #f1c40f 0%, #f39d12 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1c40f), color-stop(100%, #f39d12));
    background: -webkit-linear-gradient(top, #f1c40f 0%, #f39d12 100%);
    background: -o-linear-gradient(top, #f1c40f 0%, #f39d12 100%);
    background: -ms-linear-gradient(top, #f1c40f 0%, #f39d12 100%);
    background: linear-gradient(to bottom, #f1c40f 0%, #f39d12 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40f', endColorstr='#f39d12', GradientType=0 ); }
.btn-correct {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: #5cb85c;
  background: -moz-linear-gradient(top, #5cb85c 0%, #4cae4c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #5cb85c), color-stop(100%, #4cae4c));
  background: -webkit-linear-gradient(top, #5cb85c 0%, #4cae4c 100%);
  background: -o-linear-gradient(top, #5cb85c 0%, #4cae4c 100%);
  background: -ms-linear-gradient(top, #5cb85c 0%, #4cae4c 100%);
  background: linear-gradient(to bottom, #5cb85c 0%, #4cae4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#4cae4c', GradientType=0 );
  border: 5px solid #bec3c7; }
  .btn-correct:hover, .btn-correct:focus {
    color: white;}
  .btn-incorrect {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background: #d9534f;
  background: -moz-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d9534f), color-stop(100%, #d43f3a));
  background: -webkit-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: -o-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: -ms-linear-gradient(top, #d9534f 0%, #d43f3a 100%);
  background: linear-gradient(to bottom, #d9534f 0%, #d43f3a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9534f', endColorstr='#d43f3a', GradientType=0 );
  border: 5px solid #bec3c7; }
    .btn-incorrect:hover, .btn-incorrect:focus {
    color: white;}
 .btn-success {
 	font-size: 17px; }
 .disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}
.zvuk {
	width: 40px;
	margin-top: 32px;
	cursor: pointer;
}
.zvuk-dictionary {
	width: 30px;
	cursor: pointer;
}
.back-btn {
	float: left;
	font-family: 'Helvetica';
}
.back-btn a {
	font-size: 14px;
	color: #fff;
}

.zvuk-text {
	width: 40px;	
}
.zvuk-text:hover,.zvuk:hover, .zvuk-5:hover {
	cursor: pointer;	
}
.home-text{
	color: #808080;
	font-family: 'SignPainter';
	font-size: 18px;
}
.row-centered {
	text-align:center;
	margin: auto;
}
.col-centered {
	display:inline-block;
	float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.zanovo {
	margin-bottom:0px;
	height: 70px;
}
.letters {
	margin-top: 40px;
}
.wrong-word-rus {
	font-size: 26px;
	color: #808080;
}
.reg {
	width: 800px;
	margin: 0px auto;
}
.btn-yellow {
	background-color: #f1c40f;
}
.reg-title {
	font-size: 23px;
    margin-bottom: -5px !important;
    word-spacing: 2px;
    text-align: center;
}
.prov_sebya {
	font-size: 46px;
	font-family: 'Helvetica';
	text-align: right; }
.castellar {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #f1c40f, 2px 2px 0 #f1c40f,
             3px -1px 0 #f1c40f, 4px 0 0 #f1c40f;
}
.castellar-snd {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #de4bd2, 2px 2px 0 #de4bd2,
             3px -1px 0 #de4bd2, 4px 0 0 #de4bd2;
}
.castellar-thrd {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #43cf3c, 2px 2px 0 #43cf3c,
             3px -1px 0 #43cf3c, 4px 0 0 #43cf3c;
}
.castellar-frth {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #5f89e3, 2px 2px 0 #5f89e3,
             3px -1px 0 #5f89e3, 4px 0 0 #5f89e3;
}
.castellar-one {
	margin-left: 20px;
    color: #FFFFFF;
    text-shadow: -1px 0 0 #5478c7, 2px 2px 0 #5478c7,
             3px -1px 0 #5478c7, 4px 0 0 #5478c7;
}
.castellar-snd-two {
	margin-left: 20px;
    color: #FFFFFF;
    text-shadow: -1px 0 0 #ffc830, 2px 2px 0 #ffc830,
             3px -1px 0 #ffc830, 4px 0 0 #ffc830;
}
.castellar-thrd-three {
	margin-left: 20px;
    color: #FFFFFF;
    text-shadow: -1px 0 0 #ff5e5e, 2px 2px 0 #ff5e5e,
             3px -1px 0 #ff5e5e, 4px 0 0 #ff5e5e;
}
.castellar-frth-four {
	margin-left: 20px;
    color: #FFFFFF;
    text-shadow: -1px 0 0 #60cf38, 2px 2px 0 #60cf38,
             3px -1px 0 #60cf38, 4px 0 0 #60cf38;
}
.profile-name span {
	font-size: 12px;
}
.learnt {
	padding: 0px;
	list-style:none;
}
.learnt li {
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
}
.learnt li:first-child {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.learnt li:last-child {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.profile i.glyphicon {
	color: #f1c40f;
}
.profile a {
	color: #000;
}
.profile {
	margin-top: 25px;
}
.profile-block {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
}
.profile-block h1 {
	margin-top: 0px;
}
.learnt li .stars {
	width: 75px;
	float:right;
}
.learnt li .stars img {
	float: left;
	width: 20px;
	margin-right: 5px;
}
.delete_area{
	border: 2px solid #8e44ad;
	border-radius: 10px; 
	padding: 40px;
	margin-top: 50px;}
	.delete_area .btn {
		width: 110px;
		height: 40px;
		margin-right: 20px;}

.reviewText {
	height: 120px;
	min-height:120px;  
  	max-height:120px;
}

/*# sourceMappingURL=style.css.map */
