* {
outline: none !important
}

@font-face {
	  font-family: 'Glyphicons Halflings';

	  src: url('fonts/glyphicons-halflings-regular.eot');
	  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
	}

.progress-radial {
	float: left;
	margin-right: 30px;
	position: relative;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	border: 2px solid #BFC4C5; // remove gradient color
	background-color: #8e44ad; // default 100%
}

.progress-radial .overlay {
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
}
.controls {
	position: absolute;
	bottom: 25%;
	left: 0px;
	width: 100%;
	text-align: center;
}
.controls .glyphicon {
	font-size: 2em;
	color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin: 0px 10px;
	cursor: pointer;
}
.controls .glyphicon.active {
    font-size: 3em;
	margin: 5px 10px;
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 1);
	color: #8e44ad;
}
.progress {
    background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(90deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-0 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(90deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-1 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(93.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-2 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(97.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-3 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(100.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-4 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(104.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-5 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(108deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-6 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(111.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-7 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(115.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-8 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(118.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-9 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(122.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-10 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(126deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-11 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(129.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-12 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(133.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-13 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(136.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-14 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(140.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-15 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(144deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-16 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(147.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-17 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(151.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-18 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(154.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-19 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(158.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-20 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(162deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-21 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(165.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-22 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(169.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-23 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(172.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-24 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(176.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-25 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(180deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-26 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(183.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-27 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(187.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-28 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(190.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-29 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(194.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-30 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(198deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-31 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(201.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-32 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(205.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-33 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(208.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-34 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(212.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-35 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(216deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-36 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(219.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-37 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(223.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-38 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(226.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-39 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(230.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-40 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(234deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-41 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(237.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-42 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(241.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-43 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(244.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-44 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(248.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-45 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(252deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-46 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(255.6deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-47 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(259.2deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-48 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(262.8deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-49 {
	background-image: linear-gradient(90deg, #BFC4C5 50%, transparent 50%, transparent), linear-gradient(266.4deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-50 {
	background-image: linear-gradient(-90deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-51 {
	background-image: linear-gradient(-86.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-52 {
	background-image: linear-gradient(-82.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-53 {
	background-image: linear-gradient(-79.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-54 {
	background-image: linear-gradient(-75.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-55 {
	background-image: linear-gradient(-72deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-56 {
	background-image: linear-gradient(-68.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-57 {
	background-image: linear-gradient(-64.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-58 {
	background-image: linear-gradient(-61.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-59 {
	background-image: linear-gradient(-57.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-60 {
	background-image: linear-gradient(-54deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-61 {
	background-image: linear-gradient(-50.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-62 {
	background-image: linear-gradient(-46.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-63 {
	background-image: linear-gradient(-43.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-64 {
	background-image: linear-gradient(-39.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-65 {
	background-image: linear-gradient(-36deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-66 {
	background-image: linear-gradient(-32.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-67 {
	background-image: linear-gradient(-28.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-68 {
	background-image: linear-gradient(-25.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-69 {
	background-image: linear-gradient(-21.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-70 {
	background-image: linear-gradient(-18deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-71 {
	background-image: linear-gradient(-14.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-72 {
	background-image: linear-gradient(-10.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-73 {
	background-image: linear-gradient(-7.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-74 {
	background-image: linear-gradient(-3.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-75 {
	background-image: linear-gradient(0deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-76 {
	background-image: linear-gradient(3.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-77 {
	background-image: linear-gradient(7.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-78 {
	background-image: linear-gradient(10.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-79 {
	background-image: linear-gradient(14.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-80 {
	background-image: linear-gradient(18deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-81 {
	background-image: linear-gradient(21.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-82 {
	background-image: linear-gradient(25.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-83 {
	background-image: linear-gradient(28.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-84 {
	background-image: linear-gradient(32.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-85 {
	background-image: linear-gradient(36deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-86 {
	background-image: linear-gradient(39.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-87 {
	background-image: linear-gradient(43.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-88 {
	background-image: linear-gradient(46.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-89 {
	background-image: linear-gradient(50.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-90 {
	background-image: linear-gradient(54deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-91 {
	background-image: linear-gradient(57.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-92 {
	background-image: linear-gradient(61.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-93 {
	background-image: linear-gradient(64.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-94 {
	background-image: linear-gradient(68.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-95 {
	background-image: linear-gradient(72deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-96 {
	background-image: linear-gradient(75.6deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-97 {
	background-image: linear-gradient(79.2deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-98 {
	background-image: linear-gradient(82.8deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-99 {
	background-image: linear-gradient(86.4deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}

.progress-100 {
	background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%, transparent), linear-gradient(270deg, #8e44ad 50%, #BFC4C5 50%, #BFC4C5);
}